/* @import url('https://fonts.googleapis.com/css?family=Gelasio:400,600&display=swap'); */
@import url("./assets/fonts/fonts.css");
@import url("./resetStyles.css");
/* @import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap'); */
@import url("./assets/fonts/fonts.css");

:root{
    --size:20px;
    --fullHeightScreen:100vh;
}




.header{
    display: block;
    width: 100%;
    /* color:white; */
    height: calc(var(--fullHeightScreen) - var(--size));
    background-image: url(./assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "WisdomScriptAJ", cursive;
}
.nav_block{
    height: 60px;
    background: black;
    box-shadow: 3px -3px 37px 10px gold;
    opacity: 0.7;
}

.list{
    margin: 0;
    list-style: none;
    height: 100%;
}

.list__item{
    text-transform: uppercase;
    padding: 2px;
    display: inline-block;
    text-align: center;
    width: 100px;
    overflow: hidden;   
    text-overflow: ellipsis;
    padding: 5px;
}
.list__item:hover{
 overflow: unset;
}

.list__item span{   
opacity: 0.5;

white-space: nowrap;
text-align: center;
text-overflow: ellipsis;
}

.list__item span:hover{
    color:red;
    opacity: unset;
    cursor: pointer; 
}

.link_to_bottom{
    content: "V";
    height: var(--size);
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.main_block{
    height: var(--fullHeightScreen);
}
.gallary{
    width: 200px;
}

.gallary__item {
    display: flex;
width: 300px;
height: 300px;
overflow: hidden;
}
.gallary__item img{
 margin: auto;
 width: 100%;
}
.gallary__item:nth-child(3) img{
    margin: auto;
    width: 100%;
    transform: scale(2);
   }

   /* .gallary:last-child img{
    margin: auto;
    width: 100%;
    transform: scale(2);
   }
    */



.label{
    font-family:Playball;
    font-size: 21px;
}


.labelSecond{
    font-family:waltographUI;
    font-size: 21px;

}