section>div {
    width: min-content;
    border: 2px solid black;
    float: left;
    text-align: center;
}

section>div>span {
    display: block;
    text-align: center;
}

.picture {
    background-image: url("assets/svg/picture1.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 400px;
}

.sprite {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 30px;
    fill: chartreuse;
}